<div class="topbar">
  <div class="container">
    <div class="vertical-center">
      <%= link_to 'rubyslist', root_path %> > jobs > accounting
    </div>
  </div>
</div>
<div class="container">
  <div>
    <button type="button">reply</button>
    posted <%= time_ago_in_words(@listing.created_at) %>
    <h1 class="listing-header"><%= @listing.title %></h1>
    <div class="box">
      <p><%= @listing.description %></p>

    </div>
     <p><%= @listing.city %></p>
      <p><%= @listing.state %></p>
      <p><%= @listing.zipcode %></p>
    
  </div>
  <footer>
    <p>post id: <%= @listing.id %></p>
    <p>posted <%= time_ago_in_words(@listing.created_at) %></p>
    <%= link_to 'Back', listings_path %>
  </footer>
</div>

